VITE_FIREBASE_API_KEY=AIzaSyCBIq9IEt8dHgwqhhyFPyz2mfldNnvVQEs
VITE_FIREBASE_AUTH_DOMAIN=followback-ec016.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=followback-ec016
VITE_FIREBASE_STORAGE_BUCKET=followback-ec016.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=444974764709
VITE_FIREBASE_APP_ID=1:444974764709:web:73563bb761748f53caf34c
VITE_FIREBASE_MEASUREMENT_ID=G-8NGM0C4DZK