VITE_FIREBASE_API_KEY=AIzaSyBz4qSWsjgjhsOw-Bfq6TTRPaWmKvafGA0
VITE_FIREBASE_AUTH_DOMAIN=followback-30d3f.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=followback-30d3f
VITE_FIREBASE_MESSAGING_SENDER_ID=1025328779464
VITE_FIREBASE_APP_ID=1:1025328779464:web:5eb77418ce537cf69e15fd
# Optional while Firebase Storage remains disabled
VITE_FIREBASE_STORAGE_BUCKET=followback-30d3f.firebasestorage.app
# Optional if you enable Google Analytics
VITE_FIREBASE_MEASUREMENT_ID=G-HQF3ZLYKVH
